---

---
<div>
  <div class="md:header ">
    <div class="text-mainBlue text-center md:w-[1200px] md:pt-[15rem] py-[2rem] px-4">
      <h2 class="md:text-5xl text-lg font-bold text-shadow hidden md:block">
        CREAMOS LA EMOCIÓN DE UN NUEVO HOGAR  
      </h2>
      <h1 class="md:text-7xl text-2xl font-bold text-shadow">
        EN CADA TRANSACCIÓN 
      </h1>
      <h2 class="md:text-2xl text-2xl font-bold text-shadow uppercase">
        Te ayudamos a Vender, Comprar y/o Ganar Altos Rendimientos con Bienes Raíces
      </h2>


    </div>
  </div>
 

</div>
<style>
  .header {
    background-image: url(../../assets/img/nosotros/bannerNosotros.png);
    background-position: center right;
    background-size: cover;
    height: 65vh;

  }
</style>