---
import { Image } from 'astro:assets';
import { nosotros01, nosotros02, nosotros03 } from '../../assets'

---

<div class="grid grid-cols-2">
    <div class="col-span-1">
        <Image class="w-full items-start h-auto mr-4" src={nosotros01} alt={'Nosotros01'} /> 
    </div>
    <div class="flex flex-col p-14 justify-center bg-[#E8EBEF]">
        <h2 class="text-mainBlue md:text-5xl text-3xl font-bold text-center mb-4">
            ¿QUIENES SOMOS?
        </h2>
        <p class="text-2xl font-light text-justify">
            En KL3 Bienes Raíces, creemos en la 
            transformación emocional que la compra, renta, 
            venta o inversión de una casa representa en la 
            vida de las personas. No se trata solo de 
            transacciones, se trata de convertir cada paso 
            en un viaje emocionante hacia un nuevo hogar. 
            Nuestro compromiso es simplificar este proceso, 
            eliminar obstáculos y asegurarnos de que cada 
            cliente experimente la alegría y satisfacción de 
            encontrar el lugar perfecto para crear recuerdos 
            inolvidables.

        </p>


    </div>
    <div class="flex flex-col p-14 justify-center bg-[#E8EBEF]">
        <p class="text-2xl font-light text-justify">
            Somos facilitadores de historias y, con cada 
            transacción, ayudamos a nuestros clientes a 
            escribir el siguiente capítulo de sus vidas en un 
            hogar que amarán. Transformamos propiedades 
            en espacios llenos de emoción y alegría. En KL3 
            Bienes Raíces, hacemos que la experiencia 
            de bienes raíces sea emocionante,
            sin complicaciones y, en última instancia,
            gratificante. Sabemos que se trata de mucho 
            más que ladrillos y contratos; se trata de crear 
            hogares felices y recuerdos inolvidables
            
    
        </p>
    
    
    </div>
    <div class="col-span-1">
        <Image class="w-full items-start h-auto mr-4" src={nosotros02} alt={'Nosotros02'} /> 
    </div>
    <div class="col-span-1">
        <Image class="w-full items-start h-auto mr-4" src={nosotros03} alt={'Nosotros03'} /> 
    </div>
    <div class="flex flex-col p-14 justify-center bg-[#E8EBEF] bottomText">
        <p class="text-2xl font-light text-justify">
            Nos enorgullece ofrecer a nuestros clientes la 
            seguridad y confianza que merecen al comprar, 
            rentar, vender o invertir en propiedades. Somos 
            mucho más que un equipo de agentes 
            inmobiliarios; somos tus aliados en el proceso, 
            trabajando incansablemente para que te sientas 
            seguro al tomar decisiones inmobiliarias 
            significativas. Confía en nosotros para convertir 
            tus metas inmobiliarias en realidades seguras y 
            exitosas.

        </p>


    </div>



</div>
<style>
      .bottomText {
        border-radius: 0 0 225px 0;
    }
</style>
