---

---

<div>
    <div class="header md:px-[15rem] flex flex-col p-14 justify-center items-center">
     
            <h2 class="md:text-7xl text-3xl font-bold text-shadow text-gray-50 text-center">
                TU SOCIO EN BIENES RAÍCES <br/>
                A UN SOLO CLIC DE DISTANCIA
            </h2> 
            <a href="#" class="text-white bg-mainBlue border-white uppercase p-4 mt-20 text-center 
            rounded-3xl md:w-3/5 md:text-3xl text-xl md:border-8 border-4 font-semibold">
              ¡Contáctanos!
            </a> 

     
    </div>
    <div class="bg-white md:px-[10rem] flex flex-col py-28 justify-center items-center">
      <h2 class="md:text-5xl text-2xl font-bold  text-mainBlue text-center">
        DESCUBRE NUESTROS SERVICIOS EN BIENES REÍCES
    </h2> 
    <p class="text-3xl font-medium uppercase">Te ayudamos a Vender, Comprar, Invertir inteligentemente y Mucho Más</p>

    </div>
   
  
  </div>
  <style>
    .header {
      background-image: url(../../assets/img/servicios/bannerServicios.png);
      background-position: center right;
      background-size: cover;
      height: 65vh;
  
    }
  </style>