---

---

<div>
    <div class="header md:px-[15rem] flex flex-col p-14 justify-center items-center">
     
            <h2 class="md:text-7xl text-4xl font-bold text-shadow text-gray-50 text-center">
                VENDE, COMPRA E INVIERTE <br/>
                CON LOS EXPERTOS EN
            </h2> 
            <h1 class="md:text-9xl text-4xl font-bold text-shadow text-gray-50 text-center">
              BIENES RAICES
            </h1> 


     
    </div>

   
  
  </div>
  <style>
    .header {
      background-image: url(../../assets/img/propiedades/bannerPropiedades.png);
      background-position: center right;
      background-size: cover;
      height: 65vh;
  
    }
  </style>