---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/inicio/Banner.astro'
import Proceso from '../components/inicio/Proceso.astro';
import Numeros from '../components/inicio/Numeros.astro';
import Respaldo from '../components/inicio/Respaldo.astro';
import Contacto from '../components/inicio/Contacto.astro';
import Testimonios from '../components/inicio/Testimonios.astro';
import Listado from '../components/propiedades/Listado.astro';
import 'leaflet/dist/leaflet.css';
import Servicios from '../components/inicio/Servicios.astro';
---

<Layout title="Bienvenidos a KL3" description='test'>
	<main>
		<Banner />
		<Numeros />
		<Servicios />
		<Listado />
		<Testimonios />
		<Respaldo />
		<Proceso />
		<Contacto /> 
	</main>
</Layout>

<style>

</style>
