---
import Layout from '../layouts/Layout.astro';

import Proceso from '../components/inicio/Proceso.astro';
import Respaldo from '../components/inicio/Respaldo.astro';
import Contacto from '../components/inicio/Contacto.astro';

import 'leaflet/dist/leaflet.css';
import Banner from '../components/servicios/Banner.astro';
import AllServicios from '../components/servicios/AllServicios.astro';

---

<Layout title="Servicios KL3" description='test'>
	<main>
        <Banner />
		<AllServicios />
		<Respaldo />
		<Proceso />
		<Contacto /> 
	</main>
</Layout>

<style>

</style>