---
import Layout from '../layouts/Layout.astro';

import Proceso from '../components/inicio/Proceso.astro';
import Respaldo from '../components/inicio/Respaldo.astro';
import Contacto from '../components/inicio/Contacto.astro';

import 'leaflet/dist/leaflet.css';

---

<Layout title="Welcome to Astro." description='test'>
	<main>

		<Respaldo />
		<Proceso />
		<Contacto /> 
	</main>
</Layout>

<style>

</style>