---
interface Props {
	data: {
        id: number,
        icon: ImageMetadata,
        iconPosition: string,
        title: string,
        number: string,
    } 
}

const { data } = Astro.props;

import { Image } from 'astro:assets';
---
<div class="md:px-[8rem] gap-4 items-center justify-center">

    <div class={`relative bg-mainBlue md:p-6 p-2 rounded-3xl  w-[300px] md:w-full
                my-12 `}>
        <Image
            class={`md:w-[200px] w-[110px] absolute top-1/2 transform -translate-x-1/2 -translate-y-1/2
            ${data.iconPosition == 'start' ? 'md:left-0 left-4' : 'md:right-[-20%] right-[-29%]' }`}
            src={data.icon}
            alt="Nuestro Proceso"
        />
        <div class="bg-secondBlue rounded-3xl p-3 w-full">
            <h1 class={`text-white md:text-4xl text-md flex items-center font-bold   w-[94%]
            ${data.iconPosition == 'start' ? 'md:pl-[12%] pl-[20%] justify-start mr-4' : 'justify-end pr-[12%]' }`}>
               <span class="md:text-5xl  text-xl pr-2">{data.number}</span>  {data.title}
            </h1>
        </div>
    </div>
</div>
