---
import { Image } from 'astro:assets';
import { proceso } from '../../assets';



---
<div class="flex justify-center md:py-40 md:px-[15rem]  p-4 ">
    <Image
              class="md:w-3/5"
              src={proceso}
              alt="Nuestro Proceso"
            />

</div>


