---
import { Image } from 'astro:assets';
import { proceso } from '../../assets';



---
<div class="flex justify-center py-40 md:px-[15rem] ">
    <Image
              class="md:w-3/5"
              src={proceso}
              alt="Nuestro Proceso"
            />

</div>


