---


---
<div class="md:px-[15rem] md:gap-4 items-center justify-center px-4 py-12 bg-mainBlue">
    <div class="text-center">
        <h1 class="texto_gradiente md:text-4xl text-xl font-semibold">+16 AÑOS DE EXPERIENCIA</h1>
        <h1 class="texto_gradiente md:text-5xl text-2xl font-semibold">+928 CLIENTES SATISFECHOS</h1>
    </div>
    <div class="text-center mt-8">
        <h1 class="texto_gradiente md:text-4xl text-xl font-bold">UN LEGADO DE ÉXITOS INMOBILIARIOS</h1>
        <h1 class="texto_gradiente md:text-7xl text-3xl font-extrabold">NOS RESPALDAN</h1>
    </div>
</div>

<style>
    .texto_gradiente{
        background: #FFFFFF;
        background: -webkit-radial-gradient(circle farthest-corner at bottom center, #FFFFFF 0%, #ABB2C0 100%);
        background: -moz-radial-gradient(circle farthest-corner at bottom center, #FFFFFF 0%, #ABB2C0 100%);
        background: radial-gradient(circle farthest-corner at bottom center, #FFFFFF 0%, #ABB2C0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
</style>