---


---
<div class="md:px-[15rem] gap-4 items-center justify-center py-12 bg-mainBlue">
    <div class="text-center">
        <h1 class="texto_gradiente text-4xl font-semibold">+16 AÑOS DE EXPERIENCIA</h1>
        <h1 class="texto_gradiente text-5xl font-semibold">+928 CLIENTES SATISFECHOS</h1>
    </div>
    <div class="text-center mt-8">
        <h1 class="texto_gradiente text-4xl font-bold">UN LEGADO DE ÉXITOS INMOBILIARIOS</h1>
        <h1 class="texto_gradiente text-7xl font-extrabold">NOS RESPALDAN</h1>
    </div>
</div>

<style>
    .texto_gradiente{
        background: #FFFFFF;
        background: -webkit-radial-gradient(circle farthest-corner at bottom center, #FFFFFF 0%, #ABB2C0 100%);
        background: -moz-radial-gradient(circle farthest-corner at bottom center, #FFFFFF 0%, #ABB2C0 100%);
        background: radial-gradient(circle farthest-corner at bottom center, #FFFFFF 0%, #ABB2C0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
</style>