---
import { logo } from "../../assets";
import {footerLinks} from '../../constants'

---
<footer class=" bg-mainBlue text-gray-50 flex flex-col justify-center items-center py-10 px-4">
    <div class="flex items-center flex-shrink-0 text-white">
        <a href={'/'} class="cursor-pointer">

          <img src={logo.src} class="md:w-100 md:h-16 w-24" alt="Logo" />
        </a>
      </div>
      <div class="text-sm lg:flex-grow my-4">
        {footerLinks.map((item:any, index:any) => (
        <a
            href={item.id}
  
            class={`block mt-8 text-md lg:inline-block underline
            lg:mt-0 text-white mx-1`}
        >
            {item.title}
        </a>
        ))}
    </div>
    <div class="mt-10">

        <p class="font-semibold text-lg text-center"> Copyright &copy; {new Date().getFullYear()} KL3, Todos los Derechos Reservados.</p>
    </div>
</footer>